html {
	background-image: url(images/background.png);
	background-size: 1900px;
	background-repeat: no-repeat;
	background-color: black;
	color: white;
	font-family: 'Pavanam', Arial, Helvetica, sans-serif;
}
.main {
	width: max-content;
	padding: 10px;
	margin: 0 auto;
	background-color:  rgba(20, 20, 20, 0.7);
}
.title {
	font-size: xx-large;
	font-weight: bolder;
	color: #f4a220;
	padding-bottom: 20px;
}


.formColumn {
	display: inline-block;
	vertical-align: top;
	width: max-content;
	padding: 0px 10px;
}
.formColumn div {
	margin: 3px;
	text-align: right;
}
.formCell {
	height: 40px;
}
form div table tr td {
	text-align: center;
}


label {
	color: white;
	font-weight: bold;
	display: inline;
	vertical-align: middle;
	font-size: medium;
	text-align: right;
}
input[type=number] {
	float: left;
	width: 3em;
	font-weight: bold;
	font-size: medium;
	padding: 5px 0 5px 0;
	color: white;
	text-align: center;
	background-color: black;
	border: 1px solid #666;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none;
}
.number-input {
	border: 0;
	display: inline-flex;
}
.number-input,
.number-input * {
	box-sizing: border-box;
}
.number-input button {
	outline:none;
	-webkit-appearance: none;
	background-color: transparent;
	border: none;
	width: 1.5rem;
	cursor: pointer;
	margin: 0 0 3px 0;
	position: relative;
	color: white;
}


.slider {
	width: 5em;
	margin: 3px 0 0 0;
	vertical-align: text-bottom;
	-webkit-appearance: none;
	appearance: none;
	width: 7em;
	height: 2px;
	background: #d3d3d3;
	outline: none;
}
.sliderLabel {
	padding: 15px 2px 0 2px;
	display: inline;
	vertical-align: middle;
}
input[type=checkbox] {
	margin: 10px 0 0 0;
}
#optionCheckbox {
	text-align: center;
}


table {
	font-size: small
}
.mainTable {
	font-size: medium;
	display: block;
	border-collapse: collapse;
	border-spacing: 0;
	width: max-content;
	margin: 0 auto;
}
.mainTable, #message, #totalCostLabel {
	padding-left: 25px;
}
.mainTable td, th {
	border: white 0px solid;
	width: max-content;
	padding: 3px 15px 3px 15px;
	text-align: center;
	vertical-align: middle;
	margin: 0;
}
.mainTable th {
	background-color: #333333;
}
.mainTable tr:nth-child(even) {
	background-color: rgba(40, 40, 40, 0.7);
}
.mainTable tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.7);
}


.largeCard {
	width: 100px;
	height: 140px;
	background-size: cover;
	background-position: center;
	margin: 0px 5px;
	border: solid rgb(148, 148, 148);
	border-width: 3px 0 10px 0;
	border-radius: 3px;
}
.card {
	width: 30px;
	height: 35px;
	background-size: cover;
	background-position: center;
	display: inline-block;
	margin: 1px 5px;
	border: solid rgb(148, 148, 148);
	border-width: 2px 0 4px 0;
	border-radius: 3px;
}
.card0 {
	background-image: url(images/card0.png);
	border-color: white;
}
.card1 {
	background-image: url(images/card1.png);
	border-color: #54a721;
}
.card2 {
	background-image: url(images/card2.png);
	border-color: #1d72ff;
}
.card3 {
	background-image: url(images/card3.png);
	border-color: #9636e8;
}
.card4 {
	background-image: url(images/card4.png);
	border-color: #f4a220;
}
.card5 {
	background-image: url(images/card5.png);
	border-color: #13e3f6;
}
.fontSizeZero {
	font-size: 0;
}


.centered {
	padding: 10px;
	text-align: center;
	margin: 0 auto;
}
#totalCostLabel, #totalCost {
	font: medium;
	font-size: larger;
}
#totalCost {
	font-weight: bold;
	color: #f4a220;
}

.footer {
	height: 200px;
}

.highlight {
	color: hsl(0, 100%, 50%);
}
.hidden {
	display: none;
}