html {
	background-color: rgb(255, 255, 255);
	font-family: sans-serif;
}
.main {
	background-color: #eeeeee;
	width: max-content;
	padding: 10px;
	margin: 0 auto;
}


table {
	font-size: small
}
.mainTable {
	font-family: helvetica;
	font-size: medium;
	display: block;
	border: 3px transparent solid;
	border-spacing: 0;
	width: max-content;
	margin: 0 auto;
}
.mainTable, #message, #totalCostLabel {
	padding-left: 25px;
}
.mainTable td, th {
	border: white 0px solid;
	width: max-content;
	padding: 6px;
	padding-left: 15px;
	text-align: center;
}
.mainTable th {
	background-color: #e4b289;
}
.mainTable tr:nth-child(even) {
	background-color: #ffeed3;
}
.mainTable tr:nth-child(odd) {
	background-color: #ffffff;
}


label {
	font: bold medium Helvetica, sans-serif;
	display: block;
	float: left;
	text-align: right;
	padding: 6px 10px 0 0;
	width: 10em;
}
input[type=number] {
	float: left;
	width: 3em;
	font: bold medium Helvetica, sans-serif;
	padding: 3px 0 0 0;
	text-align: center;
}
input[type=checkbox] {
	margin: 6px 0 0 0;
}
form div {
	overflow: hidden;
	margin: 0 0 5px 0;
}

.slider {
	width: 5em;
	margin: 3px 0 0 0;
	border: 0;
	padding: 0;
}
.sliderContainer {
	margin: 0;
	border: 0;
	padding: 0;
}
.sliderLabel {
	font: bold medium Helvetica, sans-serif;
	padding: 5px 10px 0 5px;
	width: 10em;
}
.formColumn {
	display:inline-block;
	vertical-align: top;
	width: max-content;
	padding: 10px;
}
.column {
	display:inline-block;
	vertical-align: top;
	width: max-content;
}


.bottom {
	margin: 0 auto;
}
#message {
	display: inline-block;
	padding: 3px;
}
#totalCostLabel, #totalCost {
	display: inline-block;
	padding: 3px;
	font: medium Helvetica, sans-serif;
}
#totalCostLabel {
	padding-left: 35px;
}
#totalCost {
	font-weight: bold;
}


.highlight {
	color: hsl(0, 100%, 50%);
}
.hidden {
	display: none;
}